body {
    font-family: Monospace;
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

#skybox {
 position:relative;
}

#canvas {
    background: hsl(0, 0%, 10%);
    width: 75%;
    height: 85%;
    border: 1px solid hsl(0, 0%, 30%);
    margin: 0px;
    padding: 0px;
    position: fixed; /* fixed or static */
    top: 5%;
    left: 12.5%;
}

#ui_left {
    background: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 30%);
    width: 12.5%;
    height: 100%;
    position: fixed;
    z-index: 3;
    margin: 0px;
    padding: 0px;
}

#ui_top {
    background: hsl(0, 0%, 20%);
    border: 1px solid	hsl(0, 0%, 30%);
    width: 75%;
    height: 5%;
    position: fixed;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    top: 0%;
    left: 12.5%;
}

#ui_bottom {
    background: hsl(0, 0%, 25%);
    border: 1px solid hsl(0, 0%, 30%);
    width: 75%;
    height: 10%;
    position: fixed;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    top: 90%;
    left: 12.5%;
}

::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
